#intro{
    height:90vh;
    width:100%;
    background-image: url(/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#intro h1{
    text-align: center;
    color:white;
    /* font-size: xx-large; */
    /* font-weight: 800; */
}
/* #middle{
    height:200px; */
    /* margin-bottom: 200px; */
    /* padding-bottom: 30%; */
    /* display:flex; */
    /* float: right; */
    /* margin-right: 0%;
} */
#logo{
    margin-left: 40%;
    margin-top: 10%;
}
#first img{
    float: right;
  
}
#happy{
    background-color:honeydew;
    /* margin-bottom: 20px; */
    /* height: 80px; */
    /* margin-right: 50px solid grey; */
    /* padding-right:70px ; */
    /* padding-left: 50px; */
}
#party{
    background-color: tomato;
    color: white;
    height:80px;  
    /* padding-right:50px solid tomato; */
    /* padding-left: 5%; */
    /* margin-left:50px solid tomato; */
    /* width:100%; */ */

}
#middle{
    /* display:inline-block; */
    height: 250px;
    display:flex;
    flex-direction: column;
    width:20%;
}
#ffood{
    display: flex;
    flex-direction: column;
    height:40vh;
    width:300px;
    border:  10px solid white;
    /* padding: 10px solid grey; */
    margin-right: 200px;
    box-shadow: 5px 5px 10px tomato;
}
#fastfood{
    display:flex;
    width:70%;
    margin-left: 20%;
    /* margin-right: 0%; */
    margin-bottom: 50px;
      
}
.one{
    display: flex;
    flex-direction:row;
    height:40vh;
    width: 100%;
    margin-bottom: 100px;
}
#wine{
    display: flex;
    flex-direction:row;
    height:40vh;
    width:300px;
    border: 10px solid white;
    margin-left: 200px;
    box-shadow:5px 5px 10px tomato;
}
#drinks{
    display: flex;
    width: 70%;
    /* align-items: center; */
    margin-left: 20%;
    margin-bottom: 50px;
}
#three{
    background-image:url(foodsBg.jpg);
    height:80vh;
    margin-bottom: 100px;
}
table{
    /* background-color: white;
    margin-top: 30px; */
   
}
#chicken{
    margin-left:20%;
    margin-top: 10%;
    /* background-color: white; */
}
#about{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 20%;
    justify-content: space-around;
    box-shadow: 5px 5px 5px grey;
    border: 5px solid white;
}
#about h2{
    text-align: center;
}
#custo{
    margin-right: 40px;
    width:200%;
}